/*____Base____*/

::-moz-selection { background:black; color:#fff; }
::selection { background:black; color:#fff; }

body {
	margin: 0;
	padding: 0;
	background-color: #ededed;
}

/* header stylings */
h1 { font-size: 4.6em; }
h2 { font-size: 2.4em; }
h3 { font-size: 2.0em; }
h4 { font-size:1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1em; }

h1, h2, h3, h4, h5, h6, p {
	line-height: 1.3em;
	margin: 20px 0 20px 0;
}

div.container {
	position: relative;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 30px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}