@font-face {
    font-family: 'LubalinGraphStd-Demi';
    src:    url('../fonts/LubalinGraphStd-Demi.eot');
    src:    url('../fonts/LubalinGraphStd-Demi.eot?#iefix') format('embedded-opentype'),
            url('../fonts/LubalinGraphStd-Demi.svg#LubalinGraphStd-Demi') format('svg'),
            url('../fonts/LubalinGraphStd-Demi.ttf') format('truetype'),
            url('../fonts/LubalinGraphStd-Demi.woff') format('woff'),
            url('../fonts/LubalinGraphStd-Demi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}