footer {
    background-color: #1c1c1c;
    padding: 60px 0;
    div.column {
        float: left;
        box-sizing: border-box;
        &.menu {
            float: left;
            width: 25%;
            nav {
                display: block;
                ul {
                    display: block;
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    li {
                        padding: 0;
                        margin: 0;
                        list-style-type: none;
                        a {
                            display: block;
                            padding: 3px 0;
                            text-decoration: none;
                            color: #868686;
                            font-family: $lubalin;
                            transition: .20s $transition;
                            &:hover {
                                color: #ededed;
                            }
                        }
                    }
                }
            }
            &.logo {
                cursor: pointer;
                svg {
                    height: 50px;
                    display: inline-block;
                    &:first-of-type {
                        * {
                            fill: $pink;
                        }
                    }
                    &:last-of-type {
                        margin-left: 10px;
                        fill: #ededed;
                    }
                }
                &:hover {
                    svg {
                        &:first-of-type * {
                            animation: svgcolor 2s infinite;
                        }
                    }
                }
                @keyframes svgcolor {
                    0% { fill: $pink; }
                    19% { fill: $pink; }
                    20% { fill: $lightBlue; }
                    39% { fill: $lightBlue; }
                    40% { fill: $orange; }
                    59% { fill: $orange; }
                    60% { fill: $yellow; }
                    79% { fill: $yellow; }
                    80% { fill: #ededed; }
                    100% { fill: #ededed; }
                }
            }
            &.social {
                text-align: right;
                a {
                    margin-right: 10px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    display: inline-block;
                    svg {
                        width: 30px;
                        * {
                            fill: #868686;
                            transition: .20s $transition;
                        }
                    }
                    &:hover {
                        svg {
                            * {
                                fill: #ededed;
                            }
                        }
                    }
                }
            }
        }
    }
    div.copyright {
        display: block;
        width: 100%;
        margin-top: 100px;
        div.content {
            float: left;
            width: 50%;
            text-align: left;
            p {
                font-family: $lubalin;
                font-size: 14px;
                color: #868686;
                margin: 0;
                text-decoration: none;
            }
            a {
                font-family: $lubalin;
                font-size: 14px;
                color: #868686;
                margin: 0;
                text-decoration: none;
                transition: .20s $transition;
                &:hover {
                    color: #ededed;
                }
            }
            &:last-of-type {
                text-align: right;
            }
        }
    }
    @media all and (max-width: $tablet){
        div.column {
            &.menu {
                width: 28%;
                &.social {
                    width: 16%;
                }
            }
        }
    }
    @media all and (max-width: $mobile){
        div.column {
            &.menu {
                width: 100%;
                margin-bottom: 20px;
                &:last-of-type {
                    margin-bottom: 0;
                }
                &.social {
                    width: 100%;
                    text-align: left;
                }
            }
        }
        div.copyright {
            div.content {
                width: 100%;
                text-align: left;
                margin-bottom: 10px;
                &:last-of-type {
                    text-align: left;
                    margin-bottom: 0;
                }
            }
        }
    }
}