div.header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    transform: translateX(-100%);
    background-color: #ffffff;
    transition: .15s $transition;
    nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                margin: 0;
                padding: 0;
                list-style-type: none;
                a {
                    color: #000000;
                    font-family: $lubalin;
                    font-size: 30px;
                    padding: 10px 20px;
                    text-decoration: none;
                    display: block;
                }
            }
        }
    }
    &.open {
        transform: translateX(0);
    }
}

header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 40px 0;
    position: absolute;
    background-color: #ffffff;
    a.logo {
        float: left;
        svg {
            width: 80px;
            height: auto;
            * {
                transition: .25s $transition;
                fill: #000000;
            }
        }
    }
    nav {
        float: right;
        text-align: right;
        a.contact {
            display: inline;
            padding: 5px 25px;
            color: #000000;
            text-decoration: none;
            font-family: $lubalin;
            svg {
                display: inline-block;
                max-width: 15px;
                margin-right: 11px;
                position: relative;
                top: 1px;
                transform: rotate(70deg);
            }
        }
        div.primary-nav {
            margin-top: 5px;
        }
        ul {
            margin: 0;
            padding: 0;
            display: block;
            list-style-type: none;
            li {
                margin: 0;
                padding: 0;
                display: inline-block;
                list-style-type: none;
                a {
                    display: block;
                    padding: 5px 25px;
                    font-size: 22px;
                    text-decoration: none;
                    color: #000000;
                    font-family: $lubalin;
                }
            }
        }
    }
    div.hamb {
        position: absolute;
        cursor: pointer;
        right: 30px;
        height: 50px;
        width: 50px;
        top: 5px;
        display: none;
        div.line {
            width: 40px;
            height: 3px;
            left: 5px;
            background-color: #000000;
            position: absolute;
            transition: .25s $transition;
            &:nth-of-type(1){
                top: 15px;
            }
            &:nth-of-type(2){
                top: 25px;
            }
            &:nth-of-type(3){
                top: 35px;
            }
        }
        &.open {
            div.line {
                &:nth-of-type(1){
                    transform: rotate(45deg);
                    top: 25px;
                }
                &:nth-of-type(2){
                    opacity: 0;
                }
                &:nth-of-type(3){
                    transform: rotate(135deg);
                    top: 25px;
                }
            }
        }
    }
    &.front {
        background-color: transparent;
        a.logo {
            svg {
                * {
                    fill: #ffffff;
                }
            }
        }
        nav {
            ul {
                li {
                    a {
                        color: #ffffff;
                    }
                }
            }
            a.contact {
                color: #ffffff;
            }
        }
        div.hamb {
            div.line {
                background-color: #ffffff;
            }
        }
    }
    &.dark {
        a.logo {
            svg {
                * {
                    fill: #000000;
                }
            }
        }
        div.hamb {
            div.line {
                background-color: #000000;
            }
        }
    }
    @media all and (max-width: $tablet){
        a.logo {
            svg {
                max-width: 100px;
            }
        }
        nav {
            display: none;
        }
        div.hamb {
            display: block;
        }
    }
}