div.page-header {
    background-image: url('../img/home-header2.jpg');
    background-size: cover;
    background-position: 50% 50%;
    padding: 100px 0;
    h1 {
        color: #ffffff;
        font-family: $lubalin;
        font-size: 72px;
        line-height: 1.1em;
        width: 100%;
        margin: 0;
        max-width: 900px;
    }
    @media all and (max-width: $tablet){
        h1 {
            font-size: 56px;
            max-width: 700px;
        }
    }
    @media all and (max-width: $mobile){
        padding: 60px 0;
        h1 {
            font-size: 32px;
            max-width: 100%;
            line-height: 1.3em;
        }
    }
}

.default-page {
    div.page-content {
        padding: 50px 0;
        .inner {
            max-width: 80%;
        }
        @media all and (max-width: $tablet){
            .inner {
                max-width: 100%;
            }
        }
    }
	* {
		font-family: $lubalin;
        color: #000000;
        font-size: 1.1em;
	}
}