/* Variables */

/* Colors */
$darkBlue: #130c4a;
$lightBlue: #83d3e2;
$pink: #ff5d97;
$orange: #ff6343;
$yellow: #ffb400;

/* Widths */

/* Breakpoints */
$desktop: 1400px;
$tablet: 960px;
$mobile: 768px;

/* Fonts */
$lubalin: 'LubalinGraphStd-Demi', sans-serif;

/* Other Stuff */
$transition: cubic-bezier(.67,.17,.36,.83);

/* Category Styles */
.agency-style {
    background-color: $orange;
}
.tech-style {
    background-color: $pink;
}
.marketing-style {
    background-color: $darkBlue;
}
.digital-style {
    background-color: $yellow;
}