body.home {
    padding-top: 0 !important;
}

div.homepage {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url('../img/home-header2.jpg');
    background-size: cover;
    background-position: 50% 50%;
    height: 800px;
    div.home-content {
        transform: translateY(-50%);
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        div.home-markets {
            display: none;
            h1 {
                margin: 0;
                line-height: 1em;
                font-size: 80px;
                font-family: $lubalin;
                color: #ffffff;
                span {
                    &.market-one {
                        color: $pink;
                    }
                    &.market-two {
                        color: $orange;
                    }
                    &.market-three {
                        color: $lightBlue;
                    }
                    &.market-four {
                        color: $yellow;
                    }
                }
            }
        }
        @media all and (max-width: $tablet){
            top: 32%;
            div.home-markets {
                h1 {
                    font-size: 52px;
                    text-align: center;
                }
            }
        }
        @media all and (max-height: 1000px){
            div.home-markets {
                h1 {
                    font-size: 52px;
                }
            }
        }
        @media all and (max-width: $mobile){
            div.home-markets {
                h1 {
                    font-size: 32px;
                }
            }
        }
        @media all and (max-height: 650px){
            div.home-markets {
                h1 {
                    font-size: 32px;
                }
            }
        }
    }
    div.home-head-jobs {
        position: absolute;
        bottom: 100px;
        width: 100%;
        left: 0;
        div.home-jobs-col {
            float: left;
            width: 40%;
            a {
                text-decoration: none;
                color: #ffffff;
                font-size: 22px;
                font-family: $lubalin;
                display: inline-block;
                position: relative;
                &:after {
                    content: '';
                    width: 100%;
                    height: 4px;
                    background-color: #ffffff;
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                }
            }
        }
        div.home-jobs-desc {
            width: 60%;
            float: right;
            p {
                color: #ffffff;
                font-size: 22px;
                font-family: $lubalin;
                margin: 0;
            }
            @media all and (max-height: 600px){
                display: none;
            }
        }
        a.contact {
            display: none;
            width: 100%;
            text-align: center;
            color: #ffffff;
            font-family: $lubalin;
            text-decoration: none;
            padding: 5px 0;
            font-size: 22px;
            &:first-of-type {
                margin-top: 20px;
            }
        }
        @media all and (max-width: $tablet){
            bottom: 40px;
            a.contact {
                display: block;
            }
            div.home-jobs-col {
                width: 100%;
                float: none;
                text-align: center;
                a {
                    font-size: 18px;
                    &:after {
                        height: 3px;
                    }
                }
            }
            div.home-jobs-desc {
                width: 100%;
                float: none;
                text-align: center;
                margin-bottom: 30px;
                p {
                    font-size: 18px;
                    max-width: 600px;
                    margin: 0 auto;
                }
            }
        }
        @media all and (max-width: $mobile){
            div.home-jobs-desc {
                p {
                    margin: 0 auto 65px auto;
                }
            }
        }
    }
    @media all and (max-width: $tablet){
        height: 600px;
    }
}