div.jobs-page {
    display: block;
    ul.jobs {
        margin: 0;
        padding: 0 0 40px 0;
        list-style-type: none;
        li {
            float: left;
            width: calc(33.333% - 20px);
            margin-right: 30px;
            margin-bottom: 30px;
            position: relative;
            box-sizing: border-box;
            &:nth-of-type(3n){
                margin-right: 0;
            }
            a {
                padding: 40px 40px 100px 40px;
                display: block;
                position: relative;
                text-decoration: none;
                h3 {
                    margin: 0;
                    font-family: $lubalin;
                    color: #ffffff;
                }
                p.location {
                    margin: 2px 0 10px 0;
                }
                @media all and (max-width: $tablet){
                    h3 {
                        font-size: 28px;
                    }
                }
                @media all and (max-width: $mobile){
                    padding: 40px 30px 80px 40px;
                    h3 {
                        font-size: 22px;
                    }
                }

                p {
                    margin: 0;
                    font-family: $lubalin;
                    color: #ffffff;
                }
            }
            .job-info {
                left: 40px;
                bottom: 0;
                width: calc(100% - 80px);
                display: block;
                position: absolute;
                div.wage {
                    float: left;
                    p {
                        font-size: 24px;
                        color: #ffffff;
                        font-family: $lubalin;
                    }
                }
                @media all and (max-width: $mobile){
                    div.wage {
                        margin-top: 8px;
                        p {
                            font-size: 16px;
                        }
                    }
                }
                div.date {
                    float: right;
                    margin-top: 8px;
                    p {
                        color: #ffffff;
                        font-family: $lubalin;
                    }
                }
            }
            &:after {
                content: '';
                width: calc(100% - 20px);
                left: 10px;
                height: calc(100% - 20px);
                top: 10px;
                border: 2px solid #ffffff;
                position: absolute;
                pointer-events: none;
                box-sizing: border-box;
                transition: .15s $transition;
            }
            &:hover {
                &:after {
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border: 10px solid #ffffff;
                }
            }
        }
    }

    .filters__toggle {
        width: auto;
        box-sizing: border-box;
        display: inline-block;
        border-bottom: 0;
        line-height: 1em;
        padding: 20px 30px 16px 30px;
        text-align: center;
        background-color: $darkBlue;
        font-family: $lubalin;
        color: #ffffff;
        text-decoration: none;
        margin: 40px 0;
        font-size: 18px;
    }

    .filters__form {
        display: none;
        background-color: #130c4a;
        clear: both;
        color: #fff;
        overflow: hidden;
        padding: 20px 40px 40px;
        position: relative;
        zoom: 1;
        margin-bottom: 40px;
        &:after {
            content: '';
            width: calc(100% - 20px);
            left: 10px;
            height: calc(100% - 20px);
            top: 10px;
            border: 2px solid #ffffff;
            position: absolute;
            pointer-events: none;
            box-sizing: border-box;
            transition: 0.15s cubic-bezier(0.67, 0.17, 0.36, 0.83);
        }
    }

    .filters__column {
        float: left;
        width: calc(33.33% - 15px);
        margin-right: 18.75px;
        h5 {
            font-family: $lubalin;
        }
        &:last-of-type {
            margin-right: 0;
        }

        @media all and (max-width: $mobile) {
            margin-right: 0;
            width: 100%;
        }
    }

    .filters__title {

    }

    .filters__option {
        outline: none;
        * { outline: none; }
        &:hover, &:focus {
            outline: none;
            * { outline: none; }
        }
        clear: both;
        cursor: pointer;
        display: block;
        margin-bottom: 0;
        position: relative;
        input[type=checkbox] {
            cursor: pointer;
            -webkit-appearance: none;
            display: block;
            width: 100%;
            height: 40px;
            border: 2px solid #ffffff;
            box-sizing: border-box;
        }
        p {
            position: absolute;
            top: calc(50% + 2px);
            margin: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: $lubalin;
        }
        &.active-option {
            background: $pink;
        }
    }

    .filters__results {
    }

    .filters__results--processing {
        opacity: 0.5;
        pointer-events: none;
    }

    .filters__submit {
        display: none;
    }


    @media all and (max-width: 1200px){
        ul.jobs {
            li {
                width: calc(50% - 15px);
                margin-right: 30px;
                margin-bottom: 30px;
                &:nth-of-type(3n){
                    margin-right: auto;
                }
                &:nth-of-type(2n){
                    margin-right: 0;
                }
            }
        }
    }
    @media all and (max-width: $mobile){
        ul.jobs {
            li {
                width: 100%;
                margin-right: 0;
                margin-bottom: 30px;
                &:nth-of-type(2n){
                    margin-right: auto;
                }
            }
        }
    }
}

div.single-jobs-page {
    .main-content {
        padding: 100px 0 100px 0;
        * {
            font-family: $lubalin;
        }
        h2 {
            font-size: 40px;
            line-height: 1em;
            max-width: 400px;
            margin: 0 0 40px 0;
        }
    }
    .left {
        position: relative;
        z-index: 1;
        float: left;
        width: calc(70% - 100px);
        div.job-copy {
            * {
                font-size: 18px;
                line-height: 1.4em;
            }
        }
    }
    .right {
        float: right;
        margin-left: 150px;
        position: relative;
        width: calc(30% - 50px);
        z-index: 1;
        div.right-row {
            z-index: 2;
            display: block;
            width: 100%;
            margin-bottom: 70px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -31px;
                width: 100%;
                height: 3px;
                background-color: #a9a9a9;
            }
            h3 {
                font-size: 26px;
                margin: 0;
                line-height: 1em;
            }
            &:last-of-type {
                margin-bottom: 0;
                &:after {
                    display: none;
                }
            }
        }
    }
    @media all and (max-width: $tablet){
        .left {
            width: calc(60% - 70px);
        }
        .right {
            margin-left: 100px;
            width: calc(40% - 30px);
        }
    }
    @media all and (max-width: $mobile){
        .main-content {
            padding: 50px 0 50px 0;
            h2 {
                font-size: 26px;
            }
        }
        .left {
            width: 100%;
        }
        .right {
            margin-top: 40px;
            margin-left: 0;
            width: 100%;
        }
    }
}