div.contact-page {
    display: block;
    .contact-columns {
        padding: 100px 0;
        .form {
            position: relative;
            z-index: 1;
            float: left;
            width: calc(65% - 100px);
            svg {
                z-index: 1;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 300px;
                opacity: .5;
            }
            form {
                z-index: 2;
                width: 100%;
                display: block;
                position: relative;
                label {
                    font-size: 20px;
                    font-family: $lubalin;
                }
                div.form-field {
                    margin-top: 50px;
                    border-bottom: 2px solid #000000;
                    &.submit {
                        border-bottom: 0px;
                    }
                    &.name {
                        margin-top: 0;
                    }
                    input, textarea {
                        width: 100%;
                        display: block;
                        background-color: transparent;
                        border: none;
                        padding: 10px 0;
                        box-sizing: border-box;
                        outline: none;
                        font-size: 18px;
                        font-family: $lubalin;
                    }
                    input[type="submit"]{
                        width: auto;
                        display: inline-block;
                        border-bottom: 0;
                        border: 2px solid #000000;
                        line-height: 1em;
                        padding: 20px 50px 16px 50px;
                    }
                    .upload-btn-wrapper {
                        position: relative;
                        overflow: hidden;
                        display: inline-block;
                        margin-bottom: 15px;
                        input[type=file] {
                            font-size: 100px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            opacity: 0;
                        }
                        .btn {
                            border: 2px solid #000000;
                            color: #000000;
                            padding: 12px 20px 8px 20px;
                            font-size: 20px;
                            font-family: $lubalin;
                            font-weight: bold;
                        }
                        p {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1000;
                            margin: 0;
                            display: block;
                            span.cv-upload {
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        .sidebar {
            float: right;
            margin-left: 150px;
            position: relative;
            width: calc(35% - 50px);
            z-index: 1;
            svg {
                max-width: 50px;
                opacity: .5;
                margin-top: 40px;
                z-index: 1;
            }
            div.sidebar-row {
                z-index: 2;
                display: block;
                width: 100%;
                margin-bottom: 30px;
                position: relative;
                &:last-of-type {
                    margin-bottom: 0;
                }
                p {
                    font-family: $lubalin;
                    font-size: 16px;
                    color: #777777;
                    margin: 0 0 4px 0;
                }
                h4, h4 a {
                    text-decoration: none;
                    color: #000000;
                    font-family: $lubalin;
                    margin: 0;
                    font-size: 22px;
                }
            }
        }
        @media all and (max-width: $tablet){
            .form {
                float: none;
                width: 100%;
                svg {
                    opacity: .2;
                }
            }
            .sidebar {
                float: none;
                width: 100%;
                margin-left: 0;
                margin-bottom: 100px;
                svg {
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    max-width: 100px;
                    margin-top: 0;
                    opacity: .2;
                }
            }
        }
    }


}