.module-about-header {
    div.text-block {
        padding: 120px 0 300px 0;
        position: relative;
        ul.text-row {
            max-width: 1400px;
            width: calc(100% - 60px);
            margin: 0 auto;
            padding: 0;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #ffffff;
            display: inline-block;
            box-sizing: border-box;
            li {
                float: left;
                width: 33.333%;
                display: inline-block;
                margin: 0;
                padding: 60px 40px;
                box-sizing: border-box;
                list-style-type: none;
                h4 {
                    font-family: $lubalin;
                    margin: 0 0 20px 0;
                    line-height: 1.1em;
                    font-size: 24px;
                }
                p {
                    margin: 0;
                    font-family: $lubalin;
                    line-height: 1.1em;
                    font-size: 24px;
                    color: #9d9d9d;
                }
            }
        }
        h1 {
            color: #ffffff;
            font-size: 85px;
            width: 100%;
            line-height: 1.1em;
            max-width: 700px;
            font-family: $lubalin;
        }
        @media all and (max-width: $tablet){
            h1 {
                font-size: 68px;
            }
            padding: 100px 75px 100px 0;
            ul.text-row {
                display: none;
            }
        }
        @media all and (max-width: $mobile){
            h1 {
                font-size: 52px;
            }
        }
    }
}