.module-banner-text {
    padding: 100px 0;
    h1 {
        width: 100%;
        font-size: 66px;
        max-width: 600px;
        line-height: 1.1em;
        font-family: $lubalin;
        color: #ebebeb;
    }
    @media all and (max-width: $tablet){
        h1 {
            font-size: 45px;
        }
    }
    @media all and (max-width: $mobile){
        h1 {
            max-width: 100%;
            font-size: 32px;
        }
    }
}