.module-block-title {
    padding: 200px 0 150px 0;
    display: block;
    h2 {
        font-family: $lubalin;
        font-size: 72px;
        margin: 0;
        line-height: 1.1em;
        width: 100%;
        max-width: 900px;
    }
    a {
        display: inline-block;
        margin: 80px 0 0 0;
        font-size: 40px;
        font-family: $lubalin;
        color: #000000;
        text-decoration: none;
        position: relative;
        &:after {
            content: '';
            width: 100%;
            height: 4px;
            background-color: #000000;
            position: absolute;
            left: 0;
            bottom: -5px;
        }
    }
    @media all and (max-width: $tablet){
        padding: 100px 0;
        h2 {
            font-size: 52px;
            max-width: 768px;
        }
        a {
            &:after {
                height: 3px;
            }
        }
    }
    @media all and (max-width: $mobile){
        padding: 50px 0;
        h2 {
            font-size: 42px;
            max-width: 100%;
        }
        a {
            font-size: 28px;
        }
    }
}