.module-full-image {
    display: block;
    img {
        display: block;
        width: 100%;
    }
    @media all and (max-width: $tablet){
        margin: 100px 0;
    }
    @media all and (max-width: $mobile){
        margin: 50px 0;
    }
}