.module-staff-selector {
    display: block;
    padding: 150px 0 0 0;
    div.staff-row {
        margin-bottom: 150px;
        div.image {
            float: left;
            width: 40%;
            margin-right: 100px;
            position: relative;
            img {
                display: block;
                width: 100%;
            }
            svg {
                position: absolute;
                right: -100px;
                bottom: -100px;
                width: 200px;
                opacity: 0.4;
            }
        }
        div.content {
            float: left;
            width: calc(60% - 100px);
            h3 {
                font-size: 46px;
                font-family: $lubalin;
                line-height: 1.1em;
            }
            p {
                font-family: $lubalin;
                font-size: 20px;
                line-height: 1.6em;
                color: #a7a7a7;
            }
            a {
                color: #000000;
                font-family: $lubalin;
                text-decoration: none;
                font-size: 18px;
                padding: 3px 0;
                display: inline-block;
            }
        }
        &:nth-of-type(2n-1){
            div.image {
                float: right;
                margin-right: 0;
                margin-left: 100px;
                svg {
                    left: -100px;
                }
            }
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    @media all and (max-width: 1200px){
        padding: 100px 0 0 0;
        div.staff-row {
            margin-bottom: 50px;
            div.image {
                float: none;
                width: 100%;
                margin-right: 0;
                img {
                    max-width: 600px;
                    width: 80%;
                }
                svg {
                    left: -20px;
                    width: 100px;
                    bottom: auto;
                    top: -20px;
                    right: auto;
                }
            }
            div.content {
                float: none;
                width: 100%;
                h3 {
                    margin-top: 30px;
                    font-size: 30px;
                    max-width: 100%;
                }
            }
            &:nth-of-type(2n-1){
                div.image {
                    float: none;
                    margin-left: 0;
                    svg {
                        left: -20px;
                    }
                }
            }
        }
    }
    @media all and (max-width: $mobile){
        padding: 50px 0 0 0;
    }
}