.module-title-paragraph {
    display: block;
    padding: 150px 0;
    .title-col {
        float: left;
        width: 35%;
        h1 {
            line-height: 1.1em;
            font-size: 28px;
            margin: 0;
            max-width: 200px;
            font-family: $lubalin;
        }
        svg {
            max-width: 50px;
            opacity: .5;
            margin-top: 40px;
        }
    }
    .text-col {
        float: left;
        width: 65%;
        h3 {
            line-height: 1.4em;
            font-size: 38px;
            margin: 0;
            font-family: $lubalin;
        }
        p {
            line-height: 1.6em;
            font-size: 22px;
            margin: 30px 0 0 0;
            font-family: $lubalin;
            column-count: 2;
            column-gap: 40px;
            color: #a7a7a7;
        }
    }
    @media all and (max-width: $tablet){
        padding: 100px 0;
        .title-col {
            width: 100%;
            float: none;
            margin-top: 30px;
            h1 {
                font-size: 24px;
                max-width: 100%;
                margin-bottom: 30px;
            }
            svg {
                display: none;
            }
        }
        .text-col {
            width: 100%;
            float: none;
            h3 {
                font-size: 30px;
            }
            p {
                font-size: 16px;
                column-count: 1;
            }
        }
    }
    @media all and (max-width: $mobile){
        padding: 50px 0 20px 0;
    }
}